<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/commons::head">

</head>

<body class="body-main">
<header th:replace="fragments/commons::navigation">

</header>
<main>
    <div class="jumbotron ">
        <div class="text-white text-lg-center bg-blur">
        <h3>You're trying to do something that you are not authorized to!</h3>
            <ul>
                <li>Go back to the home page <a href="/">here</a>.</li>
            </ul>
        </div>
    </div>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>

