body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.jumbotron{
    background-color: rgba(0,0,0,0.1);
    min-height: 90vh;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}

.container{
    height: 100%;
    align-content: center;
    text-align: center;
}

.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.7) ;
}


.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.register_btn{
    color: black;
    background-color: #FFC312;
    width: 150px;
}

.register_btn:hover{
    color: black;
    background-color: white;
}


.add_game_btn{
    color: black;
    background-color: #FFC312;
    width: 150px;
}

.add_game_btn:hover{
    color: black;
    background-color: white;
}
.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.form-group.log_btn{
    text-align: center;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

.input-group-prepend {
    width: 42px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.gInfo {
    height: 100%;
    align-content: center;
    text-align: center;
}