<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main role="main">

    <div class="jumbotron"
         th:object="${gameInformation}">
        <div class="col gInfo">
            <div class="col-md-3 card mb-4 box-shadow col border mx-auto">
                <a>
                    <img th:src="*{getGameScreenshotUrl()}  " class="card-img-top"
                         alt="Thumbnail [100%x225]"
                         data-holder-rendered="true"
                         style="height: 225px; width: 100%; display: block;">
                </a>

            </div>
            <div class="col-md-3 card mb-4 box-shadow col border mx-auto">
                <p class="card-text text-center border-bottom text-white"
                   th:utext="'&lt;strong&gt; Game Title: &lt;/strong&gt;'  + *{gameTitle}"></p>
                <p class="card-text text-center border-bottom text-white"
                   th:utext="'&lt;strong&gt; Genre: &lt;/strong&gt;'  + *{genre}"></p>
                <p class="card-text text-center border-bottom text-white"
                   th:utext="'&lt;strong&gt; Released On: &lt;/strong&gt;'  + *{releasedOn}"></p>
                <p class="card-text text-center  text-white"
                   th:utext="'&lt;strong&gt; Game Description: &lt;/strong&gt;'  + *{gameDescription}"></p>
            </div>
        </div>
        <th:block sec:authorize="isAuthenticated()">
            <div class="btn-group font-weight-bold">
                <a type="button" class="btn btn-sm btn-outline-primary text-white"
                   th:href="@{/games/guides/{id}/add/(id= *{id})}">Add Guide</a>
            </div>
        </th:block>

        <div class="border bg-blur">
            <h3 class="text-white text-center ">Guides</h3>
            <th:block th:if="${#lists.size(listOfGuides)==0}">
                <h3 class="text-white text-center ">Currently there are no guides. <span  sec:authorize="!isAuthenticated()">Login to add one. </span></h3>
            </th:block>
                <div class="list-group box-shadow col border" th:each="g: ${listOfGuides}"
                 th:object="${g}">
                <a th:href="@{/games/guides/{guideId}/view (guideId= *{id})}"
                   class="card-text text-white"
                   th:utext="'&lt;strong&gt; Guide Title: &lt;/strong&gt;' + *{guideTitle} +
'&lt;strong&gt;  Created On: &lt;/strong&gt;' + *{#dates.format(createdOn, 'dd-MM-yyyy HH:mm:ss')}
+ '&lt;strong&gt; Created by: &lt;/strong&gt;' + *{guideCreatedBy.username}">
                </a>
            </div>


        </div>

    </div>


</main>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>