<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/commons::head">
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-main">
    <br>
    <h2 class="text-light border-bottom" th:text="|Current Games Count
        : ${totalGames}|"></h2>
    <div class="row">

        <div class="col-md-3 card mb-4 box-shadow col border"
             th:each="g: ${allGamesPreview}"
             th:object="${g}">
            <a th:href="@{/games/view/{id}(id= *{id})}">
                <img th:src="*{getGameScreenshotUrl()}  " class="card-img-top"
                     alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
            </a>
            <div class="card-body">
                <p class="text-center">
                <p class="card-text border-bottom text-center text-white " th:text="|Game Title: *{gameTitle}|"></p>
                <p class="card-text border-bottom text-center text-white" th:text="|Genre: *{genre}|"></p>
                <p class="card-text border-bottom text-center text-white" th:text="|Released On: *{releasedOn}|"></p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary text-white"
                       th:href="@{/games/{id}/view/(id= *{id})}">View More</a>
                </div>
                <th:block sec:authorize="hasRole('ADMIN')">
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary text-white"
                           th:href="@{/games/{id}/update/(id= *{id})}">Update</a>
                    </div>
<!--                    <form th:action="@{/games/{id}/update/(id=*{id})}" th:method="patch">-->
<!--                        <input type="submit" class="btn btn-sm btn-outline-secondary text-white" value="Update"/>-->
<!--                    </form>-->
                        <form th:action="@{/games/{id}/delete/(id=*{id})}" th:method="delete">
                            <input type="submit" class="btn btn-sm btn-outline-secondary text-white" value="Delete"/>
                        </form>
                    </th:block>
            </div>
        </div>
    </div>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>